@using Matlab.DataModel
@model Matlab.DataModel.Article

@{
  Layout = "";
}
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")

  <title>بررسی جستار های پیشنهادی</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>بررسی جستار های پیشنهادی</h1><br />
        <h5>متن اصلی</h5>
        <p>@Model.Title</p>
        <h5>سوال</h5>
        <p>@Model.Question.Title</p>
        <h5>جواب</h5>
        @foreach (Answer answer in Model.Question.Answers)
        {
          <p>@answer.Text</p>
        }

        @using (Html.BeginForm("SetExternalLink", "ExternalArticle", FormMethod.Post))
        {
          <div class="card-deck">

            @foreach (ExternalArticle article in Model.ExternalArticles.Where(x => x.State == ExternalArticleState.Suggested))
            {
              <div class="card ">
                <div class="card-body text-right">
                  <div class="form-check-inline">
                    <label class="form-check-label ">
                      <input type="checkbox" class="form-check-input " name="links" value="@article.Id">
                      <a href="@article.Url" >@article.Title</a>
                    </label>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="container">
                    <a href="#" class="btn btn-primary btn-block preview" data-toggle="modal" data-target="#myModal">پیش نمایش</a>
                    <a href="@article.Url" target="_blank" class="btn btn-secondary btn-block">باز کردن</a>
                  </div>
                </div>
              </div>


            }


          </div>
          <br />
          <button name="state" class="btn btn-success btn-lg" type="submit" value="@ExternalArticleState.Approved">تایید</button>
          <button name="state" class="btn btn-danger btn-lg" type="submit" value="@ExternalArticleState.Denied">حذف</button>
          <button name="state" class="btn btn-warning btn-lg" type="submit" value="@ExternalArticleState.Crupted">مخدوش</button>
        }
      </div>

    </div>

    <div class="modal" id="myModal">
      <div class="modal-dialog modal-lg h-75">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">پیش نمایش عکس</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="container-fluid h-75">
              <embed id="preview" class="col-12 h-100" />
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
          </div>

        </div>
      </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
      $(document).ready(function () {

        $(".preview").click(function () {
          var link = $(this).parents(".card").find("a")[0];
          $("#preview").attr("src", link);
        });
      });
    </script>
  </div>
</body>

